<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <h1>New Yums added!</h1>
    <div class="btn waves-light waves-effect amber darken-3">
        <a href="/bakedgoods/create">Add more</a>
    </div>
    <div class="btn waves-light waves-effect amber darken-3">
        <a href="/bakedgoods">See Your Handiwork</a>
    </div>
</body>
</html>
